@import "../style.css";
html{
width: 100%;
}
@media only screen and (min-width:1201px)and (max-width:2000px){
#info{
    height: 19rem;
    margin-left:12rem!important;
}
#gray_bg{
    height:58rem;
}
    .event{
    margin-top: 4rem;
}
.event-heading{
margin-top: 0rem!important;
}
.up-event{
    width: 33rem!important;
    /* border: 2px solid black; */
    margin-left: 0rem!important;
}
.up-card{
    width: 21rem!important;
    margin-left: 3rem!important;
}
.past-event{
    width: 50rem!important;
    margin-left: 2rem!important;
}
.past-card{
    width: 16rem!important;
}
.name{
    margin-left: 19rem;
}
.team-cont-achalsir{
    margin-left: 6rem!important;
}
.team-cont-shewtamaam{
    margin-left: 12rem!important;
}
.sponsor-container{
    margin-left: 9rem!important;
}
}