@import "../style.css";
html{
width: 100%;
}
@media only screen and (min-width:1201px)and (max-width:2000px){
#info{
    height: 57vh;
    margin-left:12vw!important;
}
#gray_bg{
    height:120vh;
}
    .event{
    margin-top: 4vw;
}
.event-heading{
margin-top: 0vw!important;
}
.up-event{
    width: 31vw!important;
    /* border: 2px solid black; */
    margin-left: 0vw!important;
}
.up-card{
    width: 21vw!important;
    margin-left: 3vw!important;
}
.past-event{
    width: 50vw!important;
    margin-left: 2vw!important;
}
.past-card{
    width: 16vw!important;
}
.name{
    margin-left: 19vw;
}
.team-cont-achalsir{
    margin-left: 6vw!important;
}
.team-cont-shewtamaam{
    margin-left: 15vw!important;
}
#login{
    height: 40vh;
}
.sponsor-container{
    margin-left: 9vw!important;
}
}
